@charset "utf-8";
/* CSS Document */
html,body,section,div,p,span,img,strong,ul,li,i,a,canvas,select,input,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}   
*{tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body{width:100%; height:100%;font-family:"黑体","微软雅黑","宋体";}
.content{width:750px;height: 100%;position:relative;top:0;left:0;margin:0 auto;}  
.page{position: absolute;top:0;left:0;width:100%;height:100%;overflow: hidden;}
.dis_n{display: none;}
.pos{position: absolute;}
.opa_0{opacity: 0;}

.left_50{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.center{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}



#color1{background:#abd8f6;background:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(171,216,246,1)),color-stop(33%,rgba(249,222,223,1)),color-stop(64%,rgba(241,217,225,1)),color-stop(100%,rgba(171,216,246,1)));background:-webkit-linear-gradient(-45deg,rgba(171,216,246,1) 0,rgba(249,222,223,1) 33%,rgba(241,217,225,1) 64%,rgba(171,216,246,1) 100%);background:linear-gradient(135deg,rgba(171,216,246,1) 0,rgba(249,222,223,1) 33%,rgba(241,217,225,1) 64%,rgba(171,216,246,1) 100%);-webkit-animation:color1 2s linear 0s infinite alternate;animation:color1 2s linear 0s infinite alternate;}
#color2{background:#f9dedf;background:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(249,222,223,1)),color-stop(35%,rgba(171,216,246,1)),color-stop(62%,rgba(171,228,242,1)),color-stop(100%,rgba(241,217,225,1)));background:-webkit-linear-gradient(-45deg,rgba(249,222,223,1) 0,rgba(171,216,246,1) 35%,rgba(171,228,242,1) 62%,rgba(241,217,225,1) 100%);background:linear-gradient(135deg,rgba(249,222,223,1) 0,rgba(171,216,246,1) 35%,rgba(171,228,242,1) 62%,rgba(241,217,225,1) 100%);-webkit-animation:color2 2s linear 0s infinite alternate;animation:color2 2s linear 0s infinite alternate;}
@-webkit-keyframes color1{0%{opacity:0}100%{opacity:1;}}
@keyframes color1{0%{opacity:0}100%{opacity:1;}}
@-webkit-keyframes color2{0%{opacity:1}100%{opacity:0;}}
@keyframes color2{0%{opacity:1}100%{opacity:0;}}

.load_box{top:30%;left:50%;width: 128px;height:300px;margin-left: -64px; font-weight: bold;text-align: center; font-size: 37px; color: #ffd8e8; }
.flowerBox1{left:0; bottom: 33px; width: 128px;height:169px; -webkit-mask-image: url(../img/flower_b.png) !important ; -webkit-mask-repeat: no-repeat; -webkit-mask-position: 0px 0px; -webkit-mask-size: 100% 100%!important; -webkit-mask: 0px 0px; }
.flowerBox2{left:0; bottom: 202px; width: 128px;height:104px; -webkit-mask-image: url(../img/flower_t.png) !important ; -webkit-mask-repeat: no-repeat; -webkit-mask-position: 0px 0px; -webkit-mask-size: 100% 100%!important; -webkit-mask: 0px 0px; }
.flower_b{left:0; bottom:0px; width: 128px;height:0px; background: #18964d; } 
.flower_t{left:0;bottom:0px;width: 128px;height:0px;background: #fe0000;}

#load_txt{ position: absolute;width: 100%;left:0;bottom: -30px;margin-left:-20px;}

.img1{top: 0; left:-283px; -webkit-animation: img1 10s linear 0s infinite alternate; animation: img1 10s linear 0s infinite alternate; } 
@-webkit-keyframes img1 {0%{left:-283px;}50%{left:-565px;}100%{left:-1px;}}
@keyframes img1 {0%{left:-283px;}50%{left:-565px;}100%{left:-1px;}}

.animate canvas,.animate img{width:100%; height:100%;}
#animate1{top:158px; left:175px;}	
#animate2,#animate3{ width: 200px;height:133px;-webkit-transform:scale(1.5);}
#animate2{top:858px; left:175px;}	
#animate3{top:558px; left:550px;}	
#animate4{top:0px; left:0px;opacity:0.3;} 
#animate5{top:200px;left:100px;opacity:0.6;}	

.yuan1{top:158px; left:175px; -webkit-animation: sun 6s linear 0s 1 normal both; animation: sun 6s linear 0s 1 normal both; }
@-webkit-keyframes sun {
  0%{-webkit-transform: scale3d(1,1,1) translate3d(158px,175px,0);opacity: 0.7;}
  25%{-webkit-transform: scale3d(1.3,1.3,1.3) translate3d(-200px,400px,0);opacity: 1;}
  50%{-webkit-transform:scale3d(0.8,0.8,0.8) translate3d(0,500px,0);opacity: 0.7;}
  75%{-webkit-transform:scale3d(1.3,1.3,1.3) translate3d(300px,500px,0);opacity: 1;}
  100%{-webkit-transform:scale3d(1,1,1) translate3d(0px,400px,0);opacity: 0.7;}}
@keyframes sun {
  0%{transform: scale3d(1,1,1) translate3d(158px,175px,0);opacity: 0.7;}
  25%{transform: scale3d(1.3,1.3,1.3) translate3d(-200px,400px,0);opacity: 1;}
  50%{transform:scale3d(0.8,0.8,0.8) translate3d(0,500px,0);opacity: 0.7;}
  75%{transform:scale3d(1.3,1.3,1.3) translate3d(300px,500px,0);opacity: 1;}
  100%{transform:scale3d(1,1,1) translate3d(0px,400px,0);opacity: 0.7;}}

#wrap {-webkit-transform-style: preserve-3d;transform-style: preserve-3d; -webkit-perspective: 1000;perspective: 1000; width:750px; height: 577px; position: absolute; top: 0; left: -30px; }
#wrap i{display: block; background: url(../img/img4.jpg); width: 30px; height: 577px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: 0 0 0; transform-origin: 0 0 0; -webkit-transform: translate3d(30px, 0, 0px) rotateY(0); transform: translate3d(30px, 0, 0px) rotateY(0); -webkit-transition: all 2s ease-in-out; transition: all 2s ease-in-out; } 
#wrap i.cur {-webkit-transform: translate3d(30px, 0, 0px) rotateY(0deg) !important; transform: translate3d(30px, 0, 0px) rotateY(0deg) !important;}

.maskBox1{right:0; bottom: 0px; width:350px;height:372px; -webkit-mask-image: url(../img/mask1.png) !important ; -webkit-mask-repeat: no-repeat; -webkit-mask-position: 0px 0px; -webkit-mask-size: 100% 100%!important; -webkit-mask: 0px 0px; overflow: hidden; }
.maskBox1 .mask1{top: 0;right:-350px; -webkit-animation: mask1 2s ease 0s both; animation: mask1 2s ease 0s both; }
.maskBox2{left:0; top: 600px; width:350px;height:448px; -webkit-mask-image: url(../img/mask2.png) !important ; -webkit-mask-repeat: no-repeat; -webkit-mask-position: 0px 0px; -webkit-mask-size: 100% 100%!important; -webkit-mask: 0px 0px; overflow: hidden; }
.maskBox2 .mask2{top: 0;right:350px; -webkit-animation: mask1 2s ease 0s both; animation: mask1 2s ease 0s both; }


.hua1Box{top: 700px; right:0;width: 400px;}
.hua1Box .hua5{top: 50px; right: -400px; -webkit-animation: mask1 1.5s ease 1.5s both; animation: mask1 1.5s ease 1.5s both; }
@-webkit-keyframes mask1 {100%{right:0px;}}
@keyframes mask1 {100%{right:0px;}}

.hua1Box .hua1{top: 129px; left:50px; -webkit-transform:scale(0);transform:scale(0); -webkit-animation: scaleBig 0.6s ease-out 3.5s 1 normal both; } 
.hua1Box .hua4{top: 35px; left: 189px; -webkit-transform:scale(0);transform:scale(0); -webkit-animation: scaleBig 0.6s ease-out 3s 1 normal both; animation: scaleBig 0.6s ease-out 3s 1 normal both; }
@-webkit-keyframes scaleBig{100%{-webkit-transform:scale(1);}}
@keyframes scaleBig{100%{transform:scale(1);}}


.hua2Box{bottom:0;left:0px; height: 138px;}
.hua2Box img:nth-child(1){left:0px;}
.hua2Box img:nth-child(2){left:100px;}
.hua2Box img:nth-child(3){left:200px;}


.arrow {left: 50%; width: 68px; height: 30px; margin-left: -34px; -webkit-animation: arrow 1.5s ease-out 0s infinite alternate; animation: arrow 1.5s ease-out 0s infinite alternate; z-index: 60; }
@-webkit-keyframes arrow{0%{bottom:40px;}100%{bottom:20px;}}
@keyframes arrow{0%{bottom:40px;}100%{bottom:20px;}}

#maskList{width:100%; height:100%;}
#maskList > div{width:100%; height:100%; position:absolute; bottom:0; left:0;}
.mask{
  -webkit-mask-image: url(../img/Touch4.png) !important;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  -webkit-mask-size: 400% 500%!important;
  -webkit-mask: 0px 0px;
}

.page_shj{background: #282828;}
.mask_shj,.img8{bottom: 0;left:0;}
.mask_shj{
  width:750px;height:697px;
  -webkit-mask-image: url(../img/mask5.png) !important;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  -webkit-mask-size: 100% 100%!important;
  -webkit-mask: 0px 0px;
}

.mask_inner{width:100%; height:400px; position:absolute; bottom:0px; left:0px;background: #fff; -webkit-animation: mask_inner 3s ease-out 0s 1 normal both; animation: mask_inner 3s ease-out 0s 1 normal both; }
@-webkit-keyframes mask_inner{0%{bottom:0px;}100%{bottom:700px;}}
@keyframes mask_inner{0%{bottom:0px;}100%{bottom:700px;}}

.page_7 .animate{display: none; position: absolute;top:80px;left:100px;-webkit-transform: scale(2);transform: scale(2);}
#animates3{width:205px; height:217px;}
#animates4{width:151px; height:144px; left:400px;  }
#animates5{width:202px; height:209px; top:150px;  }
#animates6{width:167px; height:166px; top:150px; left:400px; }





